html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
    background-color: #efefef;
    font-family: 'Lato', sans-serif;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  align-items: center;
  background-color: #2b2b2b;
  display: flex;
  height: 120px;
  justify-content: space-between;
  position: relative;
}

nav img{
  left: 0;
  margin-left: 30px;
  width: 50px;
}

.large-screen-nav {
  display: none;
}

.login {
  display: none;
}

h1 img {
  right: 0;
  margin-right: 30px;
  width: 70px;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  margin: 2% 2% 2% 4%;
}

article {
  background-color: #fff;
  box-shadow: 2px gray;
  margin: 10px;
  min-height: 480px;
  width: 95%;
  -webkit-box-shadow: 0px 0px 6px 2px rgba(153,153,153,0.75);
  -moz-box-shadow: 0px 0px 6px 2px rgba(153,153,153,0.75);
  box-shadow: 0px 0px 6px 2px rgba(153,153,153,0.75);
}

article .pic2 {
  background: url("images/pic2.jpg") 0 0;
  background-size: cover;
}

article .pic3 {
  background: url("images/pic3.jpg") 0 0;
  background-size: cover;
}

article .pic4 {
  background: url("images/pic4.jpg") 0 0;
  background-size: cover;
}

article .pic5 {
  background: url("images/pic5.jpg") 0 0;
  background-size: cover;
}

article .pic6 {
  background: url("images/pic6.jpg") 0 0;
  background-size: cover;
}

article .pic7 {
  background: url("images/pic7.jpg") 0 0;
  background-size: cover;
}

article .pic8 {
  background: url("images/pic8.jpg") 0 0;
  background-size: cover;
}

.image-section {
  background: url("images/pic1.png") 0 0;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.35);
  display: flex;
  height: 160px;
  justify-content: space-between;
}

article img{
  margin: 20px;
  width: 55px;
}

.views {
  margin: 10px 25px;
  right: 0;
}

.views p {
  color: white;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.views .num-of-views{
  font-size: 40px;
}

.card-content {
  margin: 0 15px;
}

h3, h4, h5 {
  color: #555;
}

h3, h5 {
  font-size: 22px;
  font-weight: 400;
}

h3 {
  margin: 10px 0 3px 0;
}

.date {
  color: #b9b9bb;
  font-size: 12px;
  letter-spacing: .05em
}

.link-section {
  background-color: #efefef;
  margin: 25px 0;
}

.link {
  color: #999999;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .05em;
  margin: 0;
  padding: 10px;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  margin: 5px 0;
  text-transform: uppercase;
}

h5 {
  margin: 0;
}

.attachments {
  margin-top: 30px;
}

.attachment-number {
  color: #33bafe;
  font-size: 40px;
  font-weight: 300;
}


@media screen and (min-width: 500px) {

  header {
    padding-left: 15px;
    padding-right: 15px;
  }

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

  }

  article {
    float: left;
    min-height: 500px;
    width: 45%;
  }

  .card-content {
    height: 347px;
    margin: 0 15px;
    overflow-x: hidden;
    overflow-y: auto;
  }

}

@media screen and (min-width: 950px) {

  article {
    float: left;
    height: 500px;
    width: 31%;
  }

  .card-content {
    height: 338px;
    overflow-x: hidden;
    overflow-y: auto;
  }

}

@media screen and (min-width: 1100px) {

  nav img {
    display: none;
  }

  .large-screen-nav {
    color: white;
    display: flex;
  }

  .large-screen-nav ul {
    margin: 50px 0 0 -25px;

  }

  .large-screen-nav li {
    color: #999;
    display: inline;
    float: left;
    left: 0;
    margin-right: 30px;
    text-transform: uppercase;
  }

  .large-screen-nav .shares {
    color: #fff;
  }

  li img {
    display: inline;
    float: left;
    left: 0;
    padding-right: 5px;
    width: 17px;
  }


  h1 img {
    height: 70px;
    margin-top: 30px;
    padding-right: 20px;
  }

  .login {
    display: inline-block;
    margin: 0 20px 0 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .login p {
    color: #33bafe;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
  }

  .login img {
    display: inline-block;
    margin: 0 7px;
    width: 10px;
  }

  .login-icon {
    width: 20px;
  }

  article {
    float: left;
    height: 470px;
    width: 22%;
  }

  .card-content {
    height: 340px;
    overflow-x: hidden;
    overflow-y: auto;
  }

}
